@import url(http://fonts.googleapis.com/css?family=Open+Sans);

html body {
	margin: 0;
	height: 100%;
	width: 100%;
}

body {
	font-family: 'Open Sans', sans-serif;
	background-color: #9999FF;
}

#logoDiv {
	margin-top: 10px; 
}

#identity {
	margin: 10px;
}

#wrapper{
	text-align: center;
}