@import url(http://fonts.googleapis.com/css?family=Lato);

body { 
  	font-family: 'Lato', sans-serif;
  	margin:0; 
  	padding:0; 

}

#content {
	width: 80%;
	margin: auto;
	text-align: center;
}


#map { 
	height: 400px; 
	width: 600px;
}