@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html {
	font-family: 'Open Sans', sans-serif;
	height: 100vh;
	width: 100%;
}
.mapWrapper{
	text-align: center;

}

#map {
	margin: auto;
	border: dashed;
	height: 500px;
	width: 800px;
}

.mapSubtext {
	font-style: italic;
	font-size: 12px;
}