@import url(http://fonts.googleapis.com/css?family=Lato);

body {
	font-family: 'Lato', sans-serif;
	color: white;
}

.weatherInfo {
	opacity: 0.95;
	background-color: white;
	border-radius: 5px;
	padding: 5px;
}

#map {
	color: black;
	vertical-align: center; 
	margin: auto;
	margin-top: 25vh;
  	height: 400px;
  	width: 600px; 
}