@import url(http://fonts.googleapis.com/css?family=Lato);

body {
	font-family: 'Lato', sans-serif;
	color: #505050;
}
.header {
	width: 100%;
	text-align: center;
	vertical-align: center; 
}

.weatherInfo {
	opacity: 0.95;
	background-color: white;
	border-radius: 5px;
	padding: 5px;
}

#map {
	color: black;
	vertical-align: center; 
	margin: auto;
  	height: 400px;
  	width: 600px; 
}