@import url(http://fonts.googleapis.com/css?family=Open+Sans);

html body {
    background-image: url("../images/ac_grass.png");
}


#header {
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}
.coffeeimage {
	width: 50%;
}


#CoffeeResult {
	outline-width: 2px;
	outline-color: black;
	outline: solid;
	text-align: center;
    margin: 0 auto;
	padding: 10px;
	background-color: Moccasin;
	font-family: 'Open Sans', sans-serif;
}
